.about {
  height: 600px;
  background-color: #fff;
  padding: 80px 0;
}

.aboutContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  
  @media (max-width: 767px) {
    flex-direction: column;
  }
}

.imageContainer {
  height: 380px;
  
  @media (min-width: 768px ) and (max-width: 1278px) {
    height: 201px;
    margin-right: 30px;
  }
  
  @media (max-width: 767px) {
    height: 175px;
  }
}

.image {
  height: 100%;
  border-radius: 30px;
  box-shadow: 19px 19px 16px -6px rgba(0,0,0,0.42);
}

.descriptionContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-left: 36px;
  
  @media (max-width: 767px) {
    margin-left: 0;
  }
}

.title {
  font-size: 50px;
  text-align: center;
  margin-top: -30px;
  
  @media (max-width: 767px) {
    position: relative;
    top: -21px;
    font-size: 28px;
  }
}

.desc {
  font-size: 22px;
  margin-bottom: 30px;
  
}

.list {
  text-align: left;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
}

.listItem {
  position: relative;
  font-size: 28px;

  @media (max-width: 767px) {
    font-size: 19px;
  }
  
  &:not(:last-child) {
    margin-bottom: 20px;

    @media (max-width: 767px) {
      margin-bottom: 10px;
    }
  }
  
  &::before {
    display: block;
    content: "";
    position: absolute;
    width: 22px;
    height: 24px;
    left: -34px;
    top: 5px;
    background-image: url(/static/media/pentacle.1be86ae4.png);
    background-size: contain;
    background-repeat: no-repeat;

    @media (max-width: 767px) {
      width: 20px;
      height: 20px;
      left: -29px;
      top: 1px;
    }
  } 
}

.descriptionContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 50%;

  @media (max-width: 767px) {
    width: 60%;
  }
}