.tarot {
  height: 600px;
  background-color: #f6f6f6;
  padding: 80px 0;
  
  @media (max-width: 767px) {
    padding: 38px 0;
  }
}

.tarotContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  
  @media (max-width: 767px) {
    flex-direction: column-reverse;
  }
}

.imageContainer {
  height: 380px;
  
  @media (min-width: 768px ) and (max-width: 1278px) {
    height: 232px;
  }
  
  @media (max-width: 767px) {
    height: 180px;
  }
}

.image {
  height: 100%;
  border-radius: 30px;
  box-shadow: 19px 19px 16px -6px rgba(0,0,0,0.42);
}

.descriptionContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-right: 36px;
  
  @media (max-width: 767px) {
    margin-right: 0;
  }
}

.title {
  margin-bottom: 30px;
  font-size: 50px;
  
  @media (max-width: 767px) {
    margin-bottom: 12px;
    font-size: 29px;
  }
}

.desc {
  font-size: 22px;
  margin-bottom: 30px;

  @media (max-width: 767px) {
    font-size: 19px;
  }
}

.button {
  width: 175px;
  height: 40px;
  border: 0;
  border-radius: 10px;
  background-color: #df005d;
  font-weight: 600;
  font-style: italic;
  box-shadow: 6px 6px 8px -4px rgba(0, 0, 0, 0.42);
  font-size: 15px;
  color: #fff;

  transition-duration: .2s;
  transition-property: all;
  transition-timing-function: linear;

  &:hover {
    transform: scale(1.05, 1.05);
  }
}
